.card{
    width: 50%; /* Ширина div */
    margin: 0 auto; /* Центрирование по горизонтали */
    padding: 20px; /* Внутренние отступы */
    background-color: #fff; /* Цвет фона */
    border-radius: 10px; /* Закругление краев */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Тень */
}
a{
    display: inline-block;
    text-align: center;
    margin: 0 auto;
    justify-content: center;
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

a:hover {
    background-color: #0056b3;
}
img{
    width: 100%;
}